//immobilie1 colors

$_MAIN_400: #09B1DE;
$_MAIN_500: #0097B1;
$_MAIN_600: #007083;
$_MAIN_700: #045B72;

$_GRAY_200: #D1D1D1;

$_WHITE: #fff;
$_BLACK: #000;

// general colors

$_BACKOFFICE_BG: #f3f3f3;
$_BACKOFFICE_BLACK: $_BLACK;
$_BACKOFFICE_GRAY: rgba(0, 0, 0, 0.38);
$_BACKOFFICE_GRAY_MENU: #8d8d8d;
$_BACKOFFICE_LIGHT_GRAY: rgba(0, 0, 0, 0.03);
$_BACKOFFICE_SILVER: #E0E0E0;
$_BACKOFFICE_PRIMARY: $_MAIN_500;
$_BACKOFFICE_LIGHT_PRIMARY: $_WHITE;
$_BACKOFFICE_BLUE: $_MAIN_500;
$_BACKOFFICE_LIGHT_BLUE: #F4FAFD;
$_BACKOFFICE_RED: #E45F75;
$_BACKOFFICE_LIGHT_RED: #FDF3F0;
$_BACKOFFICE_GREEN: #75912B;
$_BACKOFFICE_LIGHT_GREEN: #F1F4E9;
$_BACKOFFICE_SHADOW: rgba(0, 0, 0, .03);
$_BACKOFFICE_RADIUS: 6px !important;





.font-grey-cascade {
  color: $_BACKOFFICE_GRAY!important;
}
