
.product-checkers {
  padding: 10px 20px 20px 20px !important;
  li {
    margin-top: 12px;
  }
}

.contact-person {
  max-width: 100%;
  margin-bottom: 16px;
}

.form-body {
    height: 100%;
    width: auto;
    display: block;
}

.form-body-nopad {
  margin-top: 16px;
}

.mag-cover {
  float: left;
  max-width: 50px;
  margin-right: 10px;
}
